<% obj.each do |article| %>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header article-meta-details">
          <small>Created by: <%= article.user.username if article.user %>,
                              <br>
                             updated: <%= time_ago_in_words(article.updated_at) %>
          </small>
        </div>
        <div class="card-block">
          <div class=""
          <div class="article-title-list">
            <%= link_to article.title, article_path(article) %>
          </div>
          <div class="article-body">
            <%= truncate(article.description, length: 100) %>

          </div>
          <div class="article-actions float-right">
            <%= link_to "Edit", edit_article_path(article), class: "btn btn-sm btn-outline-primary" %>
            <%= link_to "Delete", article_path(article), method: :delete,
                                  data: { confirm: "Are you sure to delete?"},
                                  class: "btn btn-sm btn-outline-danger" %>

          </div>
        </div>
      </div>
    <!--  <hr> -->
      <div class="mb-4"></div>
    </div>
  </div>
<% end %>
