<div class="container">
  <%= render 'shared/errors', obj: @article %>

  <div class="row">
    <div class="col-sm-12">
      <%= form_for @article do |f| %>
      <div class="form-group row">
        <div class="col-sm-8 offset-sm-2">
          <%= f.text_field :title, id: "articleTitle", class: "form-control article-title", placeholder: "Title", autofocus: true %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-8 offset-sm-2 article-body">
          <%= f.text_area :description, rows: 10, id: "articleDescription", class: "form-control article-body", placeholder: "Your story..." %>
        </div>
      </div>

      <div class="form-group row">
        <div class="offset-sm-2 col-sm-8">
          <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb|  %>
            <% cb.label(class: "form-check form-check-inline form-check-label") {cb.check_box(class: "checkbox") + " "+cb.text} %>
          <% end %>
        </div>
      </div>

      <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
          <%= f.submit class: 'btn btn-outline-primary btn-lg' %>
        </div>
      </div>

      <% end %>
      <div class="col-sm-4 offset-sm-2">
       [<%= link_to "Cancel request and return to posts", articles_path %>]
      </div>
    </div>
  </div>
</div>
