<div class="container">
  <%= render 'shared/errors', obj: @user %>

  <div class="row">
    <div class="col-sm-12">
      <%= form_for @user do |f| %>
      <div class="form-group row">

        <div class="col-sm-4 offset-sm-4">
          <%= f.text_field :username, id: "userName", class: "form-control userReg", placeholder: "Username", autofocus: true %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4 offset-sm-4 article-body">
          <%= f.email_field :email, id: "userEmail", class: "form-control userReg", placeholder: "Email address" %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4 offset-sm-4 article-body">
          <%= f.password_field :password, id: "userPassword", class: "form-control userReg", placeholder: "Password" %>
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-sm-4 col-sm-4">
          <%= f.submit(@user.new_record? ? "Sign up" : "Update", class: 'btn btn-primary btn-block btn-lg') %>
        </div>
      </div>

      <% end %>
      <div class="col-sm-4 offset-sm-4">
       [<%= link_to "Cancel request and return to posts", articles_path %>]
      </div>
    </div>
  </div>
</div>
