<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <div class="container">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <%= link_to "<span id='kal'>Kal</span>Blog".html_safe, root_path, class: "navbar-brand", id: "logo" %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Articles", articles_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Bloggers", users_path, class: "nav-link" %>
      </li>

    </ul>

    <% if logged_in? %>

    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "New Post", new_article_path, class: "nav-link mr-3 text-white" %>
      </li>
      <li class="nav-item dropdown mr-5">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="fa fa-user-circle fa-fw text-white" aria-hidden="true"></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to "Edit Profile", edit_user_path(current_user), class: "dropdown-item" %>
          <%= link_to "View Profile", user_path(current_user), class: "dropdown-item" %>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <%= link_to 'Log out', logout_path, method: :delete, class: 'btn btn-outline-success' %>
      </li>

    <% else %>
      <li class="nav-item">
        <%= link_to 'Log in', login_path, class: 'btn btn-outline-success' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Sign up', signup_path, class: 'btn btn-outline-success' %>
      </li>
    </ul>
    <% end %>

  </div>
</div>
</nav>
